# ***Strings***

In [1]:
a="anu"

In [2]:
a[1]

'n'

In [3]:
a[2:]

'u'

In [6]:
s="python"
s[0]        ### accessing the 0 index value
s[1]        ### accessing the 1st index value
len(s)      ### getting the length of the string
s[len(s)-1] ### accessing the last index value
s[-1]       ### accessing the last index value
s[int(len(s)/2)] ### accessing the middle character
s[-1::-1]       ### reversing the string
s[-1:-1]        ### except first and last indices accessing remaining index values
s[-1:-3:-1]     ### accessing the last two characters in reverse order
s[int(len(s))/2-1]

In [7]:
s[0]        ### accessing the 0 index value

'p'

In [8]:

s[1]        ### accessing the 1st index value

'y'

In [9]:

len(s)      ### getting the length of the string

6

In [10]:

s[len(s)-1] ### accessing the last index value

'n'

In [11]:

s[-1]       ### accessing the last index value

'n'

In [12]:
s[int(len(s)/2)] ### accessing the middle character

'h'

In [13]:
s[-1::-1]       ### reversing the string

'nohtyp'

In [16]:
s[-1:-1]        ### except first and last indices accessing remaining index values

''

In [17]:
s[-1:-3:-1]     ### accessing the last two characters in reverse order

'no'

In [20]:
s[int(len(s)//2):int(len(s)//2)-2:-1]  ### accessing the middle characters in the string

'ht'

In [22]:
### create a function for reversing a string
def reverseastring(s):
    return s[-1::-1]
reverseastring(" anantha")

'ahtnana '

In [16]:
### create a function for finding middle characters in a string
s="anantha"
if len(s)%2==0:
     print("string is even:")
    s[int(len(s)//2):int(len(s)//2)-2:-1]
else:
    print("string id odd:")
    return s[int(len(s)//2)]
    print(middle(s))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [19]:
def middlestring(a):
    if len(a)%2==0:
        return a[int(len(a)//2)-1:int(len(a)//2)+1]
    else:
        return a[int(len(a)//2)]
middlestring("anantha")

'n'

In [20]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [33]:
s="anantha anu"
str.capitalize(s)

'Anantha anu'

In [24]:
str.lower("ANANTHA")

'anantha'

In [25]:
str.upper(s)

'ANANTHA'

In [26]:
str.isupper(s)

False

In [27]:
str.islower(s)

True

In [28]:
str.isalpha(s)

True

In [30]:
str.isalnum(s)

True

In [31]:
str.isdecimal(s)

False

In [32]:
str.isspace(s)

False

In [35]:
str.split(s,"h")

['anant', 'a anu']

In [36]:
str.startswith(s,"a")

True

In [37]:
str.endswith(s,"u")

True

In [38]:
str.swapcase("aNu")

'AnU'

In [40]:
str.index(s,"u")

10

In [41]:
str.count(s,"a")

4

In [42]:
str.strip(" ece ")

'ece'

In [43]:
str.lstrip("   ece ")

'ece '

In [44]:
str.rstrip("    ece   ")

'    ece'

In [45]:
str.casefold("PYThon")

'python'

In [47]:
str.find(s,"h")

5

### Lists

In [49]:
n=input()
for i in n:
    print(i)

123456789
1
2
3
4
5
6
7
8
9

In [51]:
n=input()
for i in range(len(n)):
    print(n[i])

anantha
a
n
a
n
t
h
a

###  Lists

In [52]:
a=[1,2,3,4,'abc','@']

In [54]:
a[-1::-1]

['@', 'abc', 4, 3, 2, 1]

In [55]:
a[-2][-1::-1]

'cba'

In [6]:
a=[1,2,4,5, 'anu']

In [8]:
a.insert(10,2)

In [9]:
a

[1, 2, 4, 5, 'anu', 2, 2]

In [10]:
a.insert(10,2)

In [11]:
a

[1, 2, 4, 5, 'anu', 2, 2, 2]

In [16]:
a

[1, 2, 4, 5, 'anu', 2, 2, 2]

In [24]:
a=[3,7567876,987654,7]

In [26]:
a.sort(reverse=True)

In [27]:
a

[7567876, 987654, 7, 3]

In [28]:
a.sort(reverse=False)

In [29]:
a

[3, 7, 987654, 7567876]

In [6]:
### check whether the given year is leap year or not
def isleapyear(y):
    y=int(input("enter year:"))
    if (y%4==0 and y%100!=0):
        print(y,"is leap year")
    elif(y%100==0 and y%400==0):
        print(y,"is leap year")
    else:
        print(y,"is not a leap year")

In [7]:
isleapyear(2020)

enter year:2020
2020 is leap year

In [9]:
### check if the number exists in the given range(inputs: number(n))
def testrange(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
testrange(5)

 5 is in the range

In [13]:
### range lower and upper number using python
n = range(10)[0] 
print("lower number:", n) 
  
n = range(10)[-1] 
print("\nupper number:", n)

lower number: 0

upper number: 9

In [ ]:
### check the number of digits in the given number

In [16]:
### check if the number is factor of thousand
n=int(input("entert number:"))
if n%1000==0:
    print(n,"is factor of 1000")
else:
    print(n,"is not a factor of 1000")

entert number:3567
3567 is not a factor of 1000

# ***TUPPLES*** #

* tupples are immutable

In [18]:
a=(1,2,4,6,7)

In [19]:
a[0]

1

In [20]:
a[-1::-1]

(7, 6, 4, 2, 1)

In [21]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# ***DICTONARIES***

**Keywords
**Values

In [26]:
a={"roll no":"18em1a0438","name":"anantha"}

In [27]:
a

{'roll no': '18em1a0438', 'name': 'anantha'}

In [28]:
a["roll no"]

'18em1a0438'

In [29]:
a["name"]

'anantha'

In [33]:
d={'A':46788,'B':98765,'C':8976}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
154529

In [3]:
def freq(s):
    for i in s:
        count=s.count(i)
        print(i,":",count)
    return
freq("1224")

1 : 1
2 : 2
2 : 2
4 : 1

In [2]:
def CountFrequency(my_list): 
    freq = {} 
    for item in my_list: 
        if (item in freq): 
            freq[item] += 1
        else:   

            freq[item] = 1
    for key, value in freq.items(): 
        print ("% d : % d"%(key, value)) 
  

if __name__ == "__main__":  
    my_list =[1, 1, 7, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2] 
  
    CountFrequency(my_list)

 1 :  4
 7 :  1
 5 :  2
 3 :  3
 4 :  3
 2 :  4

In [4]:
a="12225"
k={}
for i in a:
    if i not in k.keys():
        k[i]=a.count(i)
k

{'1': 1, '2': 3, '5': 1}

In [13]:
for k in range(51):
    if k % 3 == 0 and k % 5 == 0:
        print("fizzbuzz")
        continue
    elif k % 3 == 0:
        print("fizz")
        continue
    elif k % 5 == 0:
        print("buzz")
        continue
    print(k)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz